html,body
  height: 100%
//
// @font-face
//   font-family: $base-font-family
//   src: $base-font-family


body
  margin: 0
  display: grid
  grid-template-areas: "header" "main" "footer"
  grid-template-rows: $header-height 1fr
  font-family: $base-font-family
  // src: $base-font-src
  font-size: $base-font-size
  line-height: $base-line-height

header
  grid-area: header
  display: flex
  background: $primary-color

main
  grid-area: main

footer
  grid-area: footer
  background: $primary-color
  margin: 2em $border-padding
  color: $white-color

.page-content
  padding: $border-padding
  background: $primary-color
  color: $text-color

  @include media-query($mobile-large)
    padding: calc(#{$border-padding/2})


.callout
  margin: 1em 0
  display: flex
  align-items: center

