.article__list
  list-style: none
  display: grid
  grid-template-columns: 1fr
  grid-gap: 2em

.article__item
  margin: 2em 0
  border-bottom: 1px solid #cecdcd
  max-width: 60%
  padding-bottom: 10px

  @include media-query($mobile-large)
    max-width: 100%

.article-item__detail--date
  color: #cecdcd
  font-size: 12px

.article-item__detail--title
  margin: 4px 0 4px 0

.article-item__detail--excerpt
  font-style: italic
  font-size: 14px


.article-item__detail.article-item__detail--link
  text-decoration: none
