.article__list
  list-style: none
  display: grid
  grid-template-columns: 1fr
  padding: 0

.article__item
  padding: 3em 0
  border-bottom: 1px solid #cecdcd
  max-width: 90%

  @include media-query($tablet)
    max-width: 100%

li.article__item:last-child
  border-bottom: 0

.articles__container > .article__item
  border-bottom: 0
  padding: 1em 0 0em 0

.article-item__detail--date
  color: #cecdcd
  font-size: 12px

.article-item__detail--title
  margin: 4px 0 4px 0

.article-item__detail--excerpt
  font-style: italic
  font-size: 14px


.article-item__detail.article-item__detail--link
  text-decoration: none


.responsive-image
  width: 90vw
  margin: auto




