.events__picture-img
  width: calc(100vw - #{$border-padding * 2})

  @include media-query($mobile-large)
    width: 100vw

.events__list
    list-style: none
    display: grid
    grid-template-columns: repeat(2, 1fr)

    @include media-query($tablet)
      grid-template-columns: 1fr


.event-item__details
    margin-left: 1em

.event__item
    margin: 2em 0
    line-height: 26px

.event-item__name
  margin: 0 0 0.5em 0

.event-item__detail img
  margin-right: 4px

.event-item__detail--description
  display: flex

.event-item__detail--description-text > p:first-of-type
  margin-top: 0 !important

.event-item__detail--description-text
  max-width: 80%
