$logo-width: 20%
$grid-gap: 20px

.events__list
  display: grid
  grid-template-columns: 50% 50%
  grid-gap: $grid-gap
  list-style: none
  padding: 0
  margin: 0
  justify-content: center

  @include media-query($tablet)
    grid-template-columns: 50% 50%

  @include media-query($mobile-large)
    text-align: center
    grid-template-columns: 100%

.events__item
  padding: $arbitrary-padding
  border: 1px solid #888
  border-radius: 4px

  a
    color: inherit
    text-decoration: none

.events__item:hover
  background: $hover-color

.event__overview
  display: grid
  grid-template-columns: $logo-width 80%
  grid-template-rows: 110px
  grid-gap: $grid-gap

  @include media-query($desktop)
    grid-template-columns: 30% 70%

  @include media-query($tablet)
    grid-template-columns: 35% 65%

  @include media-query($mobile-large)
    grid-template-columns: 100%

.event__logo
  text-align: center
  img
    max-height: 100%

.event__name
  text-transform: uppercase
  font-weight: bold

.event__role
  font-weight: 500

.label
  font-size: 14px
  text-transform: uppercase
