.home__container
  display: flex
  align-items: center

  @include media-query($tablet)
    flex-direction: column

.home__picture-img
  height: calc(100vh - #{$header-height} - #{$footer-height} - #{$border-padding * 2} - #{2em * 2})

.home__description
  margin: 0 2em

  @include media-query($tablet)
    margin: 2em 0

.home__description-intro
  font-size: $h1-font-size

.home__description-item
  margin: 2em 0

.home__description-item-header
  font-size: $h3-font-size

.home__description-item-content
  margin-left: 28px
