.company__list
  list-style: none
  display: grid
  grid-template-columns: repeat(3, 1fr)
  padding: 0

  @include media-query($tablet)
    grid-template-columns: repeat(2, 1fr)


.company-item__details
  margin-left: 1em

  @include media-query($mobile-large)
    margin-left: 0

.company__item
  margin: 2em 0
  line-height: 26px

.company-item__name
  margin: 0 0 0.5em 0

.company-item__detail img
  margin-right: 4px


.projects__list
  list-style: none
  display: grid

  @include media-query($mobile-large)
    padding: 0

.project-item__detail
  line-height: 32px
.project-item__detail--name
  margin-bottom: 0.5em

.project-item__detail--sub-text
  font-size: 12px
  color: #cecdcd

.projects__subtitle
  margin: 1em 0 2em 0


.project__icon,
.projects__disclaimer-icon
  height: 20px
  float: left
  margin: 0 8px 0 0

.project__title,
.projects__disclaimer
  line-height: 20px
  margin: 4px 0

.project__list
  list-style-type: none

.project__content
  margin-bottom: 40px

.project__company
  font-size: 12px
  color: #799ca8

.description__project
  margin-left: 32px

.project__title
  font-size: 18px
  margin-bottom: 0.5em