$grid-gap: 20px

.speaking__list
  display: grid
  grid-template-columns: 100%
  list-style: none
  grid-gap: $arbitrary-padding
  padding: 0

.speaking__item
  padding: $arbitrary-padding
  border: 1px solid #888
  border-radius: 4px
  position: relative

.speaking__conference-logo
  top: 12px
  right: 12px
  position: absolute

  img
    height: 100px

.speech__title
  font-size: 18px
  text-transform: uppercase
  font-weight: bold
  margin: 12px 0

.speech__overview
  display: grid
  grid-template-columns: 50% 50%
  grid-gap: $grid-gap

.speech__overview-details
  font-style: italic

.speech__abstract
  margin: 24px 0
  font-size: 14px

.speech__media-embed
  align-self: center
  text-align: center
