---
layout: default
---

<div class="articles__container">
  {%- if page.title -%}
    <h1>✍🏽 Articles</h1>
  {%- endif -%}

  <div class="callout">
    <h1>💬</h1>
    <div class="callout-text">&nbsp; Some of my more recent articles can be found on my <a href="https://dev.to/ridhwana" target="_blank">dev.to profile</a>.</div>
  </div>

  {{ content }}

  {%- if site.categories.articles.size > 0 -%}
    <ul class="article__list">
      {%- for article in site.categories.articles -%}

      <li class="article__item">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="article-item__detail article-item__detail--date">
          {{ article.date | date: date_format }}
        </div>

        <h2 class="article-item__detail article-item__detail--title">
          <a class="article-item__detail article-item__detail--link" href="{{ article.url | relative_url }}">
            {{ article.title | escape }}
          </a>
        </h2>
        {%- if article.show_excerpts -%}
          <div class="article-item__detail article-item__detail--excerpt">{{ article.excerpt }}</div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
