---
layout: default
---

<div class="blog">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.categories.articles.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <ul class="post__list">
      {%- for post in site.categories.articles -%}
      <li class="post__item">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-item__meta">{{ post.date | date: date_format }}</div>

        <div class="post-item__title">
          <a class="post-item__link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </div>

        <!-- {%- if post.description -%}
          <div>{{ post.description }}</div>
        {%- endif -%} -->

        {%- if post.show_excerpts -%}
          <div class="post-item__excerpt">{{ post.excerpt }}</div>
        {%- endif -%}

      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
