---
layout: default
---



<div class="events__container">

  <div class="events__picture">
    <img class="events__picture-img" src="{{ "/assets/images/ridhwana-wit.jpg" | absolute_url }}">
  </div>

  <h1 class="events__sub-header">🌍 Building inclusive communities</h1>
  <ul class="events__list">
    {% for event in site.data.events %}
      <li class="event__item">
        <h3 class="event-item__name">{{ event.name }}</h3>
        <div class="event-item__details">
          <div class="event-item__detail event-item__detail--description">
            <span>
              <img src="{{ "/assets/images/icons/info.svg" | absolute_url }}"/>
            </span>
            <div class="event-item__detail--description-text">{{ event.description }}</div>
          </div>
          <div class="event-item__detail event-item__detail--location">
            <span>
              <img src="{{ "/assets/images/icons/world-location.svg" | absolute_url }}"/>
            </span>
            {{ event.location }}
          </div>
          <div class="event-item__detail event-item__detail--date">
            <span>
              <img src="{{ "/assets/images/icons/calendar.svg" | absolute_url }}"/>
            </span>
            {{ event.date }}
          </div>
          <div class="event-item__detail event-item__detail--role">
            <span>
              <img src="{{ "/assets/images/icons/female.svg" | absolute_url }}"/>
            </span>
            {{ event.role }}
          </div>
          {% if event.link %}
            <div class="event-item__detail event-item__detail--link">
              <span>
                <img src="{{ "/assets/images/icons/link.svg" | absolute_url }}"/>
              </span>
                <a href="{{ event.link }}" target="_blank">View Website</a>
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
