---
layout: default
---

<div class="events">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="events__list">
    {% for event in site.data.events %}

      <li class="events__item">

        <a href="{{ event.link }}"  target="_blank">

          <div class="event__overview">
            <div class="event__logo">
              <img src="/assets/images/events/{{ event.logo }}"/>
            </div>

            <div class="event__details">
              <div class="event__name">{{ event.name }}</div>
              <div><span class="label"> Role:</span> <span class="event__role">{{ event.role }}</span></div>
              <!-- <div><span class="label"> Recurring: {{ event.recurring }}</span></div> -->
              <div><span class="label"> Location: {{ event.location }}</span></div>
            </div>
          </div>

          <div class="event__description">
            <div>{{ event.description }}</div>
          </div>

        </a>
      </li>
    {% endfor %}
  </ul>

</div>
