---
layout: default
---
  <div class="home__container">

    <div class="home__picture">
      <img class="home__picture-img" src="{{ "/assets/images/ridhwana.jpg" | absolute_url }}">
    </div>

    <div class="home__description">
      <div class="home__description-intro"> Hello 👋🏽 , my name is Ridhwana Khan.</div>

      <div class="home__description-item">
        <div>
          Here's some details about me 🙃
        </div>
      </div>

      <div class="home__description-item">
        <div class="home__description-item-header">💻  Software Engineer:</div>
        <div class="home__description-item-content">
          I’m currently a Senior Software Engineer at <a href="https://dev.to/">DEV</a>, where I feed my passion for building & creating useful things!
        </div>
      </div>

      <div class="home__description-item">
        <div class="home__description-item-header">🎤  Speaking:</div>
        <div class="home__description-item-content">
          I love <a href="https://ridhwana.com/speaking/">speaking at conferences</a> & <a href="https://ridhwana.com/blog/"> writing articles</a> mostly because I enjoy sharing my knowledge and learning from new & interesting people from all around the world.
        </div>
      </div>

      <div class="home__description-item">
        <div class="home__description-item-header">📚  Kasi Maths:</div>
        <div class="home__description-item-content">
          I’m a founder and director of a non profit organisation called <a href="http://kasimaths.org/">Kasi Maths</a>. We’re trying to change the state of education in South Africa one student at the time, and then hopefully millions at once!
        </div>
      </div>

      <div class="home__description-item">
        <div class="home__description-item-header">🌍  Inclusive Community Building:</div>
        <div class="home__description-item-content">
          I’m passionate about <a href="https://ridhwana.com/events/">building diverse & inclusive communities</a> no matter where I go! Everyone should feel included.
        </div>
      </div>

    </div>
  </div>
