---
layout: default
---

<div class="home">
  <div class="about-me__image-container">
    <img class="about-me__image" src="{{ "/assets/images/me.jpg" | absolute_url }}">
  </div>
  <div class="about-me__description-container"> 
    <p>Hello There :)</p>
    <p>
      My name is Ridhwana Khan. I am a proudly proudly South African Software Developer.
    </p>
    <p>
      I am an extremely passionate and hard-working software developer who thoroughly enjoys experimenting with new technologies and mastering familiar ones. There is no greater feeling than building systems that help to better people's lives in even the smallest way. Software development is not simply a job for me, but an interest that I wholeheartedly enjoy. Nothing excites me more than creating something, out of nothing, using code.
    </p>
    <p>
      I thrive on imparting knowledge as well as learning from others through speaking at events, reading blogs and books, and through conversation. In addition, I care deeply about children’s education in South Africa and about diversity and inclusion in the workplace. I look forward to challenges and seek to conquer them through knowledge.
    </p>


  </div>
</div>
