---
layout: default
---

<div class="speaking">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="speaking__list">
    {% for speech in site.data.speaking %}
      <li class="speaking__item">
        <div>{{ speech.title }}</div>
        <div>{{ speech.name }}</div>
        <div>{{ speech.conference }}</div>
        <div>{{ speech.location }}</div>
        <div>{{ speech.media }}</div>
        <div>{{ speech.abstract }}</div>
      </li>
    {% endfor %}
  </ul>
</div>
