---
layout: default
---

<div class="speaking">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="speaking__list">
    {% for speech in site.data.speaking %}
      <li class="speaking__item">
        <div class="speaking__conference-logo">
          <img src="/assets/images/speaking/{{ speech.conference_logo }}"/>
        </div>

        <div class="speech__title">{{ speech.title }}</div>

        <div class="speech__overview">
          <div class="speech__details">
            <div class="speech__overview-details">
              <div>{{ speech.conference }} ({{ speech.year }})</div>
              <div>{{ speech.location }}</div>
              <div><a href="{{ speech.media }}">{{ speech.media }}</a></div>
            </div>
            <div class="speech__abstract">{{ speech.abstract }}</div>
          </div>

          <div class="speech__media-embed">{{ speech.embed }}</div>
        </div>


      </li>
    {% endfor %}
  </ul>
</div>
