---
layout: default
---

<div class="talks__container">

  <div class="talks__picture">
    <img class="talks__picture-img" src="{{ "/assets/images/ridhwana-presenting-1.jpg" | absolute_url }}">
  </div>

  <div class="talks__callout-text">If you'd like me to speak at any of your upcoming events, please feel free to reach out to me on any of my social platforms.</div>

  <!-- <h1 class="talks__sub-header">🔔 Upcoming Conference Talks</h1> -->
  <ul class="talks__list">
    {% for talk in site.data.upcoming_speaking %}
      <li class="talk__item">
        <h3 class="talk-item__name">{{ talk.conference }}</h3>
        <div class="talk-item__details">
          <div class="talk-item__detail talk-item__detail--location">
            <span>
              <img src="{{ "/assets/images/icons/world-location.svg" | absolute_url }}"/>
            </span>
            {{ talk.location }}
          </div>
          <div class="talk-item__detail talk-item__detail--date">
            <span>
              <img src="{{ "/assets/images/icons/calendar.svg" | absolute_url }}"/>
            </span>
            {{ talk.date }}
          </div>
          {% if talk.media %}
            <div class="talk-item__detail talk-item__detail--link">
              <span>
                <img src="{{ "/assets/images/icons/link.svg" | absolute_url }}"/>
              </span>
                <a href="{{ talk.media }}" target="_blank">Visit Website</a>
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>


  <h1 class="talks__sub-header">🎤 Conference Talks</h1>
  <ul class="talks__list">
    {% for talk in site.data.speaking %}
      <li class="talk__item">
        <h3 class="talk-item__name">{{ talk.conference }}</h3>
        <div class="talk-item__details">
          <div class="talk-item__detail talk-item__detail--title">
            <span>
              <img src="{{ "/assets/images/icons/info.svg" | absolute_url }}"/>
            </span>
            {{ talk.title }}</div>
          <div class="talk-item__detail talk-item__detail--location">
            <span>
              <img src="{{ "/assets/images/icons/world-location.svg" | absolute_url }}"/>
            </span>
            {{ talk.location }}</div>
          <div class="talk-item__detail talk-item__detail--date">
            <span>
              <img src="{{ "/assets/images/icons/calendar.svg" | absolute_url }}"/>
            </span>
            {{ talk.date }}
          </div>
          {% if talk.media %}
            <div class="talk-item__detail talk-item__detail--link">
              <span>
                <img src="{{ "/assets/images/icons/play.svg" | absolute_url }}"/>
              </span>
                <a href="{{ talk.media }}" target="_blank">Watch Video</a>
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

  <h1 class="talks__sub-header">🎙 Podcast/Interviews</h1>
  <ul class="talks__list">
    {% for talk in site.data.podcasts %}
      <li class="talk__item">
        <h3 class="talk-item__conference">{{ talk.conference }}</h3>
        <div class="talk-item__details">
          <div class="talk-item__title">
            <span>
              <img src="{{ "/assets/images/icons/info.svg" | absolute_url }}"/>
            </span>
            {{ talk.title }}</div>
          <div class="talk-item__location">
            <span>
              <img src="{{ "/assets/images/icons/world-location.svg" | absolute_url }}"/>
            </span>
            {{ talk.location }}</div>
          <div class="talk-item__date">
            <span>
              <img src="{{ "/assets/images/icons/calendar.svg" | absolute_url }}"/>
            </span>
            {{ talk.date }}
          </div>
          {% if talk.media %}
            <div class="talk-item__link">
              <span>
                <img src="{{ "/assets/images/icons/play.svg" | absolute_url }}"/>
              </span>
                <a href="{{ talk.media }}" target="_blank">Listen to Interview</a>
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
