---
layout: default
---

<div class="company__container">


  <h1>👩🏽‍💻 Work Experience</h1>

  <div>To get a full view of my working experience, please look through my <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">LinkedIn profile</a> or reach out on one of my social platforms 😊</div>

  <ul class="company__list">
    {% for company in site.data.companies %}
      <li class="company__item">
        <h3 class="company-item__name"> <img class="project__icon" src={{ company.logo }}>{{ company.company }}</h3>
        <div class="company-item__details">
          <div class="company-item__detail company-item__detail--date">
            <span>
              <img src="{{ "/assets/images/icons/female.svg" | absolute_url }}"/>
            </span>
            {{ company.role }}
          </div>
          <div class="company-item__detail company-item__detail--location">
            <span>
              <img src="{{ "/assets/images/icons/world-location.svg" | absolute_url }}"/>
            </span>
            {{ company.location }}
          </div>
          <div class="company-item__detail company-item__detail--location">
            <span>
              <img src="{{ "/assets/images/icons/calendar.svg" | absolute_url }}"/>
            </span>
            {{ company.year }}
          </div>
          {% if company.link %}
            <div class="company-item__detail company-item__detail--link">
              <span>
                <img src="{{ "/assets/images/icons/link.svg" | absolute_url }}"/>
              </span>
                <a href="{{ company.link }}" target="_blank">Visit Website</a>
            </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
